<nav class="navigation">
   {{> PageTitle title="Home Page"}}
   <ul>
      <li>{{> Link href = "login" page="login" text="Login"}}</li>
      <li>{{> Link href = "signup" page="signup" text="Signup"}}</li>
      <li>{{> Link href = "chatList" page="chatList" text="ChatList"}}</li>
      <li>{{> Link href = "chatItem" page="chatItem" text="ChatItem"}}</li>
      <li>{{> Link href = "user-settings" page="userSettings" text="User-settings"}}</li>
      <li>{{> Link href = "404" page="404" text="404"}}</li>
      <li>{{> Link href = "500" page="500" text="500"}}</li>
   </ul>
</nav>
