.user-container {
  text-align: center;
  min-height: 100vh;
  margin-top: 0 !important;

  .input__text-error {
    text-align: end;
  }

  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-back {
    position: absolute;
    min-height: 100vh;
    width: 50px;
    background-color: #d9d9d9;
    background-image: url("../../assets/img/arrow_back.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    button {
      margin-top: 48vh;
    }

    a {
      min-height: 100vh;
    }
  }

  .button-back:hover {
    background-color: #c3c1c1;
  }

  .user-name {
    margin-bottom: 10px;
  }

  .user-settings .input_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  button[type="submit"] {
    margin-top: 50px;
  }

  .user-settings form.change-info {
    width: 500px;
  }

  .user-edit {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 10px;
      width: 250px;
    }
  }
}
