<div class="container">
   <div class="button-back">
      <img class="arrow-back"/ src="../../assets/img/arrow_back.png">
   </div>
   <div class="content">
      <form>      
         <label for="avatar">
            {{#if avatar}}
               {{!-- <img class="profile__avatar" src="{{ avatar }}" alt="avatar" /> --}}
            {{else }}
               <div class="profile__avatar-empty">
                  {{!-- <img class="profile__avatar" src="/static/img/empty-profile.png" alt="avatar" /> --}}
               </div>
            {{/if}}
         </label>
         <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="avatar_input">
         
         
      
         <div class="user-name">Имя</div>
         {{> Input label="email" type="text" id="email" name="email" label-for="email" label-text="Почта" }}
         {{> Input label="login" type="text" id="login" name="login" label-for="login" label-text="Логин" }}
         {{> Input label="first_name" type="text" id="first_name" name="first_name" label-for="first_name" label-text="Имя" }}
         {{> Input label="second_name" type="text" id="second_name" name="second_name" label-for="second_name" label-text="Фамилия" }}
         {{> Input label="display_name" type="text" id="display_name" name="display_name" label-for="display_name" label-text="Имя в чате" }}
         {{> Input label="phone" type="text" id="phone" name="phone" label-for="phone" label-text="Телефон" }}
         {{> Input label="oldPassword" type="text" id="oldPassword" name="oldPassword" label-for="oldPassword" label-text="Старый пароль" }}
         {{> Input label="newPassword" type="text" id="newPassword" name="newPassword" label-for="newPassword" label-text="Новый пароль" }}
         {{> Input label="confirm_password" type="text" id="confirm_password" name="confirm_password" label-for="confirm_password" label-text="Повторите новый пароль" }}
         {{> Button type="submit" text="Сохранить"}}
      </form>
   </div>
</div>
