<div class="container">
   {{> PageTitle title="Страница не найдена" }}
   <h3>Такой страницы не существует</h3>
   {{!-- <a href="/">Назад к чатам</a> --}}
   {{> Link href="/" text="Назад к чатам" }}
</div>