.chat-container {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .chat-list {
    min-height: 100vh;
    background-color: #fbfbfb;
    width: 300px;
    border-right: 1px solid #eaeaea;
  }
}
